:root {
    --color-primary-dark: #181817;
    --color-primary-light: #ffffff;
    --color-brand-dark: #FF9F0E;
    --color-brand-normal: #FCB62A;
    --color-brand-light: #FFFAF3;
    --color-secondary-dark: #839AA9;
    --color-secondary-light: #F1F3FF;
    --color-secondary-normal: #F9F9FF;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
