:root {
    --color-primary-dark: #181817;
    --color-primary-light: #ffffff;
    --color-brand-dark: #ff9f0e;
    --color-brand-light: #fcb62a;
    --color-secondary-dark: #839aa9;
    --color-secondary-light: #fffaf3;
    --color-secondary-normal: #f1f3ff;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
