

*,
:before,
::after {
    
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    min-height: 100%;
}

section {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
