.category-section {

    &__content {
        display: flex;
        gap: 24px;
    }

    &__list {
        display: flex;
        gap: 24px;
    }

    &__link {
        display: flex;
        gap: 10px;
        align-items: end;
        justify-content: end;
    }
}