.category-section {
    padding: 16px 0 48px;
    

    &__title {
        margin: 0 auto 48px;
    }

    &__content {
       
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }
    }

    &__link {
        color: var(--color-brand-dark);
        font-size: 18px;
        line-height: 1.3;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        min-width: 172px;

        @media screen and (min-width: $bp-tablet) {
            align-items: flex-end;
        }
    }
}