.contact-section {
    position: relative;
    margin-bottom: 400px;

    &::before {
        position: absolute;
        top: 190px;
        left: 0;
        width: 488px;
        height: 520px;
        background-image: url(/assets/images/terier-dog-form.png);
        background-repeat: no-repeat;
        content: "";
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 322px;
        height: 752px;
        background-image: url(/assets/images/big-dog-form.png);
        background-repeat: no-repeat;
        content: "";
    }

    &__form {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }

    &__title {
        margin-bottom: 16px;
    }

    &__text {
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 5%;
        color: var(--color-secondary-dark);
        margin-bottom: 42px;
    }
}