.header {
    width: 100%;


    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            align-items: center;
            gap: 48px;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__cart-img {
        width: 24px;
        height: 24px;

        @media screen and (min-width: $bp-tablet) {
            width: 40px;
            height: 40px;
        }
    }

    &__button {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: block;
        }
    }

    &__burger {
        display: block;

        @media screen and (min-width: $bp-tablet) {
            display: none;
        }
    }
}