.hero-section {
    padding: 0;
    

    &__title {
        font-family: 'Rowdies';
        font-size: 72px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 5%;
        
        
    }
}