.hero-section {
    display: flex;

    &__info {
        max-width: 635px;
    }

    &__title {
        font-family: 'Rowdies';
        font-size: 72px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 5%;
    }
}

