.hero-section {
    padding: 20px 0;

    @media screen and (min-width: $bp-tablet) {
        padding: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        } 
    }


    &__info {
        text-align: center;
        max-width: 296px;
        
        @media screen and (min-width: $bp-tablet) {
            max-width: 635px;
            padding-top: 212px;
        }
    }

    &__title {
        font-family: 'Rowdies';
        font-size: 32px;
        font-weight: 400;
        line-height: 1;
        margin: 0 auto 24px;

        @media screen and (min-width: $bp-tablet) {   
        font-size: 72px;
        line-height: 1.2;
        margin: 0 auto 40px;
        }
    }

    &__text {
        max-width: 480px;
        margin-bottom: 24px;

        @media screen and (min-width: $bp-tablet) {
            max-width: 480px;
            margin-bottom: 16px;
        }

        
    }
}

