.button {
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-brand-dark);
    color: var(--color-primary-light);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    cursor: pointer;

    &:hover {
        background-color: var( --color-brand-normal);
    }

    &__footer {
        padding: 8px 24px;
        font-size: 16px;
    }
}