.category-card {
    width: 240px;
    height: 240px;
    padding: 46px 72px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;

    &__image {
        width: 96px;
        height: 96px;
    }

    &__title {
        font-size: 22px;
        font-weight: 600;
        color: var(--color-brand-dark);
        margin: 0;
    }
}