.customer-card {
    background-color: var( --color-secondary-dark);

    &__title {
       color: var(--color-primary-light);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;

    }

    &__text{
        color: var(--color-secondary-light);
    font-weight: 400;     
    font-size: 16px;
    line-height: 1.17;

    }
}


