.hero-card {
    position: relative;
    height: 800px;

    &__desktop {
        position: absolute;
        top: 150px;
        left: -220px;
    }

    &__main {
        position: absolute;
        top: 234px;
        left: 10px;
        background-image: url(/assets/images/hero-paw-white.png), url(/assets/images/bcg-hero-yellow.png);
    }
}